.navbar{
    background-color:white;
    color:black;
    padding-left: 20px;
}

.hero{
    background-color: #94CFD5;
    padding-left: 40px;
    height:90vh;
}
.dream-home{
    margin-top: 100px;
}

h2{
    color:#4E8D93;
}
.read-button{
    background-color: #4E8D93;
    color: white;
}

.house{
    background-image: url(https://images03.nicepage.com/c461c07a441a5d220e8feb1a/6e01baecf04f5cea8a0886de/560627PKSSJM928.jpg);
    background-size: cover;
    background-position: center;
}


















.footer{
    background-color: navy;
    color: white;
    padding-top: 10px;
    padding-left: 30px;
}




















